.mainclass {
  background-color: #206a5d;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  margin: 0 auto;
  transform: translate(29%, 50%);
  width: 67%;
}

.container {
  position: relative;
  width: 100%;
}

.container > p {
  font-size: 32px;
}

.question {
  width: 75%;
}

.progress-bar-striped {
  background-color: #f58634;
}

.btn-primary {
  background-color: #555;
  color: #ddd;
  border: 1px solid #ddd;
}

.btn-primary:hover {
  background-color: #ffcc29;
  border: 1px solid #ffcc29;
}

.btn-success {
  padding: 5px 25px;
  margin-top: 15px;
  background-color: #ffcc29;
}

@media (max-width: 576px) {
  .question {
    width: 100%;
    word-spacing: 2px;
  }
}
